.log-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    background-color: #ddd;
}
.log-section__titulo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.7rem;
}
.log-section__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.form__input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #999;
    height: 50px;
    margin-top: 25px;
    padding: 10px 15px 10px 15px;
}
.form__input-container{
    width: 100%;
}
.form__input-error{
    font-family: 'Roboto Condensed', sans-serif;
    color: #d33;
    font-size: .9rem;
    text-align: center;
    margin-top: 7px;
}
.log-section__input--invalid{
    width: 100%;
    border: 1px solid #f00;
    background-color: #ff000011;
    height: 40px;
    margin-top: 15px;
    padding: 5px 15px 5px 15px;
}
.form__button{
    height: 50px;
    margin-top: 30px;
    font-size: 1.3rem;
    width: 50%;
    color: #f5f5f5;
    background-color: #0071BC;
    border: none;
    outline: 2px solid #0071BC;
    transition: all .5s;
}
.form__button:hover{
    width: 100%;
}
.form__input-invalid{
    font-family: 'Roboto Condensed', sans-serif;
    color: #d33;
    margin-top: 30px;
}
#footer-login{
    margin-top: 0px;
}

@media (max-width: 1279px) {
    .log-section__form{
        width: 50%;
    }
}
@media (max-width: 481px) {
    .log-section__form{
        width: 80%;
    }
}
