<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base/reset.css">
    <link rel="stylesheet" href="../static/base/header.css">
    <link rel="stylesheet" href="../static/base/banner.css">
    <link rel="stylesheet" href="../static/base/section-todos.css">
    <link rel="stylesheet" href="../static/base/section-productos.css">
    <link rel="stylesheet" href="../static/base/footer.css">
    <link rel="stylesheet" href="../static/index/header.css">
    <link rel="stylesheet" href="../static/index/banner.css">
    <link rel="stylesheet" href="../static/index/targets.css">
    <link rel="stylesheet" href="../static/index/mas-vendidos.css">
    <link rel="stylesheet" href="../static/index/tienda.css">
    <script src="https://kit.fontawesome.com/07c964647a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="assets/symbiosis-logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Symbiosis Store</title>
</head>

<body>
    <header class="header">
        <a href="index.html"><img class="header__logo" src="../static/assets/symbiosis-logo.svg"></a>
        <h1 class="header__titulo">Tienda De Productos Naturales</h1>
        <a href="store.html"><button class="header__login-button"><i class="fa-solid fa-store"></i>Ir al Catálogo</button></a>
    </header>

    <main class="sections">

        <section class="banner">
            <div class="banner__info1">
                <h2 class="info1__titulo">Symbiosis Tienda Natural</h2>
                <p class="info1__text">Symbiosis es una tienda de productos naturales que surge de ... Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil enim culpa laborum voluptas est cum qui quam odio, sint natus numquam modi dicta saepe quibusdam vitae illum expedita molestias. Optio.</p>
                <div class="info1__button">
                    <a target="_blank" href="https://www.instagram.com/symbiosistienda/"><button class="button__button">Mira más en Instagram</button></a>
                </div>
            </div>
        </section>
        
       <section class="targets">
            <div class="tarjeta">
                <div class="tarjeta__icon-container">
                    <div class="icon-container__circle">
                        <i class="icon-container__ico fa-solid fa-seedling"></i>
                    </div>
                </div>
                <h3 class="tarjeta__titulo">Productos</h3>
                <p class="tarjeta__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae consectetur, quibusdam, officiis ducimus, quo numquam impedit eligendi optio porro omnis nisi provident nemo pariatur reprehenderit aperiam magnam sunt illo? Provident.</p>
            </div>
            <div class="tarjeta">
                <div class="tarjeta__icon-container">
                    <div class="icon-container__circle">
                        <i class="icon-container__ico fa-solid fa-clipboard-user"></i>
                    </div>
                </div>
                <h3 class="tarjeta__titulo">Asistencia Nutricional</h3>
                <p class="tarjeta__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae consectetur, quibusdam, officiis ducimus, quo numquam impedit eligendi optio porro omnis nisi provident nemo pariatur reprehenderit aperiam magnam sunt illo? Provident.</p>
            </div>
            <div class="tarjeta">
                <div class="tarjeta__icon-container">
                    <div class="icon-container__circle">
                        <i class="icon-container__ico fa-solid fa-truck-fast"></i>
                    </div>
                </div>
                <h3 class="tarjeta__titulo">Atención rapida</h3>
                <p class="tarjeta__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae consectetur, quibusdam, officiis ducimus, quo numquam impedit eligendi optio porro omnis nisi provident nemo pariatur reprehenderit aperiam magnam sunt illo? Provident.</p>
            </div>
            <div class="tarjeta">
                <div class="tarjeta__icon-container">
                    <div class="icon-container__circle">
                        <i class="icon-container__ico fa-solid fa-people-group"></i>
                    </div>
                </div>
                <h3 class="tarjeta__titulo">Nosotros</h3>
                <p class="tarjeta__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae consectetur, quibusdam, officiis ducimus, quo numquam impedit eligendi optio porro omnis nisi provident nemo pariatur reprehenderit aperiam magnam sunt illo? Provident.</p>
            </div>
       </section>

       <section class="mas-vendidos">
            <h2 class="mas-vendidos__titulo">Nuestros Productos más vendido</h2>

            <div class="mas-vendidos__fila">
                <div class="fila__producto">
                    <img class="producto__imagen" src="../static/assets/pasas.jpg" alt="">
                    <div class="producto__contenido">
                        <h3 class="contenido__nombre">Producto1</h3>
                        <h4 class="contenido__desc">Pasas de uva naturales</h4>
                        <h4 class="contenido__precio">100$</h4>
                    </div>
                </div>
                <div class="fila__producto">
                    <img class="producto__imagen" src="../static/assets/pasas.jpg" alt="">
                    <div class="producto__contenido">
                        <h3 class="contenido__nombre">Producto2</h3>
                        <h4 class="contenido__desc">Pasas de uva naturales</h4>
                        <h4 class="contenido__precio">100$</h4>
                    </div>
                </div>
            </div>

            <div class="mas-vendidos__fila">
                <div class="fila__producto">
                    <div class="producto__contenido">
                        <h3 class="contenido__nombre">Producto2</h3>
                        <h4 class="contenido__desc">Pasas de uva naturales</h4>
                        <h4 class="contenido__precio">100$</h4>
                    </div>
                    <img class="producto__imagen" src="../static/assets/pasas.jpg" alt="">
                </div>
                <div class="fila__producto">
                    <div class="producto__contenido">
                        <h3 class="contenido__nombre">Producto2</h3>
                        <h4 class="contenido__desc">Pasas de uva naturales</h4>
                        <h4 class="contenido__precio">100$</h4>
                    </div>
                    <img class="producto__imagen" src="../static/assets/pasas.jpg" alt="">
                </div>
            </div>

       </section>

       <section class="tienda">
            <h2 class="tienda__titulo">Para ver todos nuestos productos visita nuestro catálogo</h2>
            <img class="tienda__flecha" src="../static/assets/flecha.png">
            <div class="tienda__container">
                <img class="container__img" src="../static/assets/store.PNG" alt="">
                <a href="store.html">
                    <button class="container__button">Ir al catálogo</button>
                </a>
            </div>
       </section>

    </main>

    <footer class="footer">

        <div class="footer__img-container">
            <img class="img-container__img" src="../static/assets/symbiosis.svg">
        </div>

        <div class="footer__buttons-container">
            <h4 class="buttons-container__titulo">Contactanos</h4>
            <div class="buttons-container__buttons">
                <button class="buttons-container__button"><a class="button__link" href="https://api.whatsapp.com/message/VV4H24KXIDK4A1?autoload=1&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></button>
                <button class="buttons-container__button"><a class="button__link" href="https://t.me/Symbiosis_tienda_bot"><i class="fa-brands fa-telegram"></i></a></button>
            </div>
        </div>

        <div class="footer__lista-bloque">
            <ul class="lista-bloque__lista">
                <a href="#">
                    <li class="lista__el">Para realizar su consulta:</li>
                </a>
                <a href="#">
                    <li class="lista__el">Asistencia Personalizada por Whatsapp</li>
                </a>
                <a href="#">
                    <li class="lista__el">Asistencia automatizada por Telegram</li>
                </a>
                <a href="#">
                    <li class="lista__el">Ubicación</li>
                </a>
                <a href="#">
                    <li class="lista__el">Nosotros</li>
                </a>
            </ul>
        </div>

        <div class="footer__desarrollo">
            <h4 class="desarollo__texto">Desarrollado durante la JAM - Equipo . 2022</h4>
        </div>

    </footer>
</body>
</html>